* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --base: #8bf089;
  --spacing: 10px;
  --blur: 0px;
  --invert: 0%;
  --sepia: 0%;
  --saturate: 100%;
  --hue: 0deg;
}

label {
  padding: 0;
  margin: 0;
}

.image-container>img {
  padding: var(--spacing);
  background: var(--base);
  height: 100%;
  width: 100%;
  max-height: 520px;
  max-width: 830px;
  object-fit: contain;
  filter: blur(var(--blur, 0px)) invert(var(--invert, 0%)) sepia(var(--sepia, 0%)) saturate(var(--saturate, 0%)) hue-rotate(var(--hue, 0deg));
}


.hl {
  color: var(--base);
}

h2 {
  margin-bottom: 20px;
}

body {
  text-align: center;
  background: #193549;
  color: white;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 38px;
}

.controls {
  display: grid;
  grid-template-columns: repeat(auto-fill, 440px);
  grid-template-rows: 50px 50px;
  grid-column-gap: 1px;
  grid-row-gap: 8px;
  justify-items: stretch;
  align-items: stretch;
}


.controls {
  margin-bottom: 14px;
}

input {
  width: 100px;
}

output {
  background-color: #454c53;
  border: 1px solid #454c53;
  text-align: left;
  line-height: 40px;
  border-radius: 2px;
  transition: 0.3s;
}

.wrapper {
  display: grid;
  justify-items: center;
  grid-template-rows: 82% auto;
}

.specify {
  max-width: 100%;
  height: 125px;
  display: grid;
  grid-template-columns: repeat(5, 110px);
  transition: transform 0.2s linear;
}

.specify-element {
  position: relative;
  text-align: center;
  width: 100px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s linear;
}

.specify-element:hover {
  transform: scale(1.07);
}

.specify-title {
  text-align: center;
  color: #c9dddd;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
}

.specify-img {
  max-width: 100px;
  height: 72px;
  object-fit: contain;
  transition: opacity 0.3s linear, visibility 0.3s linear;

}


.btn {
  
  height: 40px;
  background-color: #4f5f6e;
  border: 0;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  outline: 0;
  cursor: pointer;
  transition: 0.3s;
}

.btn:not(.btn-active):hover {
  background-color: #728fac;
}

.btn:active {
  background-color: #1b4411;
}

.btn-active {
  background-color: #3b7a2d;;
}

.btn-active:hover {
  background-color: #295e59;
}

.btn-load {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-load--input {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

